html {
  font-size: 14px;
}

figure {
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

dt {
  font-weight: bold;
}
dd {
  margin: 0 0 20px;
  padding: 0;
}

a:link,
a:visited {
  color: #2B9976;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}